.alert-wrapper {
    position: fixed; 
    top: 55px; 
    left: 35%;
    width: 30%;
    z-index: 9999; 
}

.select-page {
    width: 50px;
    text-align: center;
  }
  .pagination li a input {
    padding: 0;
    margin: -5px 0;
  }





.sort, .sort-true, .sort-false {
    position: relative;
    cursor: pointer;
}
 
/*replace the content value with the
corresponding value from the list below*/
 
.sort:before {
    content: "\f0dc";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    right: 0;
}

.sort-true:before {
  content: "\f0de";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
/*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  right: 0;
}

.sort-false:before {
  content: "\f0dd";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
/*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  right: 0;
}